html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

.imgbox {
	display: grid;
	height: 100%;
}
.center-fit {
	max-width: 100hv;
	max-height: 95vh;
	margin: auto;
}

.didactic {
	width: max-content;
	height: max-content;
	padding: 25px;
	margin: 20px;
	color: black;
	border: 1px solid #cccccc;
	background-color: white;
	align-self: end;
}

body {
	background-color: black;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 160%;
  }

  a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600;
  }
  
  a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: black;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
  }

