html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

.imgbox {
	display: grid;
	height: 100%;
}
.center-fit {
	max-width: 100hv;
	max-height: 95vh;
	margin: auto;
}

.didactic {
	width: max-content;
	padding: 15px;
	margin: 20px;
	color: black;
	border: 3px solid darkgrey;
	background-color: white;
}

body {
  background-color: black;
  font-family: verdana;
}

